/t3ejercicio12/build/
/t3ejercicio16/nbproject/private/
/t3ejercicio16/build/
/práctica1_rodrigo/nbproject/private/
/práctica1_rodrigo/build/
/práctica1_rodrigo/dist/
/while_ejercicio1/nbproject/private/
/While/nbproject/private/
/While/build/
/while_ejercicio1/build/
/while_ejercicio2/nbproject/private/
/while_ejercicio2/build/
/JavaApplication45/nbproject/private/
/while_ejercicio3/nbproject/private/
/while_ejercicio3/build/
/while_ejercicio4/nbproject/private/
/while_ejercicio4/build/
/while_ejercicio5/nbproject/private/
/while_ejercicio5/build/
/while_ejercicio6/nbproject/private/
/while_ejercicio6/build/
/while_ejercicio7/nbproject/private/
/while_ejercicio7/build/
