/t3ejercicio12/build/
/t3ejercicio16/nbproject/private/
/t3ejercicio16/build/
/práctica1_rodrigo/nbproject/private/
/práctica1_rodrigo/build/
/práctica1_rodrigo/dist/
/while_ejercicio1/nbproject/private/
/While/nbproject/private/
/While/build/
/while_ejercicio1/build/
